@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido al Complejo Deportivo ANDyNa</title>
</head>
<body>

    <h1>¡Bienvenido al complejo deportivo ANDyNa!</h1>

    <p>¡SEA USTED BIENVENIDO AL SISTEMA!</p>

    <p>Aquí es donde la diversión y el deporte se encuentran.</p>

    <ul>
        <li><strong>Soporte Técnico:</strong> Envíe cualquier pregunta o problema técnico de manera privada.</li>
    </ul>

    <p>Agradecemos la oportunidad de trabajar con usted y estamos aquí para ayudarle en cada paso del camino. Si tiene alguna pregunta o comentario, no dude en ponerse en contacto con nuestro equipo de soporte técnico.</p>

    <p>¡Gracias por confiar en nuestros servicios!</p>

</body>
</html>
<div class="text-center">
    @* <h1 class="display-4">Bienvenido</h1>*@
    <br />
    <br />
    <br />
    <br />
    <p>Acerca de <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
